# ignore files with no extention:
*
!*/
!*.*

# normal ignores:
*.exe
*.out
nimcache
*.pdb
*.ilk
.*
!.gitignore
*.dll
__pycache__
bindings/generated
/config.json
/config.default.json
/resources/themes/default.json